Repository Hacket00GTFO/DataIngestion, changes with the owners that CODEOWNERS names for each.
All owners: @branToRep, @HilaryCamacho, @NorbertoSuas, @JaobSandoval, @solmuz

Add CODEOWNERS for Backend and Frontend protection
  .github/CODEOWNERS
Owners: @branToRep, @HilaryCamacho, @JaobSandoval, @solmuz

Update setup-specific-permissions.js
  .github/setup-specific-permissions.js
Owners: @branToRep, @HilaryCamacho, @JaobSandoval, @solmuz

a chingar su madre
  .github/CODEOWNERS
  .github/branch-protection.yml
  .github/configure-auto-sync.js
  .github/disable-protection.js
  .github/setup-specific-permissions.js
  .github/workflows/sync-branches.yml
Owners: @branToRep, @HilaryCamacho, @JaobSandoval, @solmuz

Solo sincronizacion
  .github/workflows/sync-branches.yml
Owners: @branToRep, @HilaryCamacho, @JaobSandoval, @solmuz

Update sync-branches.yml
  .github/workflows/sync-branches.yml
Owners: @branToRep, @HilaryCamacho, @JaobSandoval, @solmuz

Cambios en el modo de ingestion de datos
  backend/app/__pycache__/main.cpython-312.pyc
  backend/app/api/__pycache__/data_routes.cpython-312.pyc
  backend/app/api/data_routes.py
  backend/app/services/__pycache__/data_service.cpython-312.pyc
  backend/app/services/data_service.py
  backend/simple_server.py
  evidencia big data.xlsx
Owners: @branToRep, @HilaryCamacho, @NorbertoSuas

cambio: ignorar type error
  backend/app/utils/data_validator.py
Owners: @branToRep, @HilaryCamacho, @NorbertoSuas

feat(backend): configurar base de datos local y pipeline de ingesta
  README.md
  backend/.env
  backend/.env.example
  backend/Makefile
  backend/alembic.ini
  backend/alembic/__pycache__/env.cpython-313.pyc
  backend/alembic/env.py
  backend/alembic/script.py.mako
  backend/alembic/versions/202403120001_create_tiros_tables.py
  backend/alembic/versions/__pycache__/202403120001_create_tiros_tables.cpython-313.pyc
  backend/app/__pycache__/__init__.cpython-313.pyc
  backend/app/__pycache__/db.cpython-313.pyc
  backend/app/__pycache__/main.cpython-313.pyc
  backend/app/api/__pycache__/__init__.cpython-313.pyc
  backend/app/api/__pycache__/data_routes.cpython-313.pyc
  backend/app/api/__pycache__/health_routes.cpython-313.pyc
  backend/app/api/data_routes 2.py
  backend/app/api/data_routes.py
  backend/app/db.py
  backend/app/main.py
  backend/app/models/__pycache__/__init__.cpython-313.pyc
  backend/app/models/__pycache__/tiro.cpython-313.pyc
  backend/app/models/tiro.py
  backend/app/services/__pycache__/__init__.cpython-313.pyc
  backend/app/services/__pycache__/data_service.cpython-313.pyc
  backend/app/services/data_service 2.py
  backend/app/services/data_service.py
  backend/app/utils/__pycache__/__init__.cpython-313.pyc
  backend/app/utils/__pycache__/data_processor.cpython-313.pyc
  backend/app/utils/data_processor 2.py
  backend/app/utils/data_processor.py
  backend/requirements.txt
  backend/tests/__init__.py
  backend/tests/__pycache__/__init__.cpython-313.pyc
  backend/tests/__pycache__/test_data_processor.cpython-313-pytest-8.4.2.pyc
  backend/tests/test_data_processor.py
  backend/venv/pyvenv.cfg
Owners: @branToRep, @HilaryCamacho, @JaobSandoval, @solmuz, @NorbertoSuas

Add .gitignore and remove __pycache__ files from tracking
  .gitignore
  backend/app/__pycache__/__init__.cpython-312.pyc
  backend/app/__pycache__/__init__.cpython-313.pyc
  backend/app/__pycache__/database.cpython-312.pyc
  backend/app/__pycache__/database.cpython-313.pyc
  backend/app/__pycache__/main.cpython-312.pyc
  backend/app/__pycache__/main.cpython-313.pyc
  backend/app/api/__pycache__/__init__.cpython-312.pyc
  backend/app/api/__pycache__/__init__.cpython-313.pyc
  backend/app/api/__pycache__/data_routes.cpython-312.pyc
  backend/app/api/__pycache__/data_routes.cpython-313.pyc
  backend/app/api/__pycache__/database_routes.cpython-312.pyc
  backend/app/api/__pycache__/database_routes.cpython-313.pyc
  backend/app/api/__pycache__/excel_routes.cpython-312.pyc
  backend/app/api/__pycache__/health_routes.cpython-312.pyc
  backend/app/api/__pycache__/health_routes.cpython-313.pyc
  backend/app/api/__pycache__/tiradores_routes.cpython-312.pyc
  backend/app/api/__pycache__/tiradores_routes.cpython-313.pyc
  backend/app/models/__pycache__/__init__.cpython-312.pyc
  backend/app/models/__pycache__/__init__.cpython-313.pyc
  backend/app/models/__pycache__/data_models.cpython-312.pyc
  backend/app/models/__pycache__/data_models.cpython-313.pyc
  backend/app/services/__pycache__/__init__.cpython-312.pyc
  backend/app/services/__pycache__/__init__.cpython-313.pyc
  backend/app/services/__pycache__/data_service.cpython-312.pyc
  backend/app/services/__pycache__/data_service.cpython-313.pyc
  backend/app/services/__pycache__/database_service.cpython-312.pyc
  backend/app/services/__pycache__/database_service.cpython-313.pyc
  backend/app/utils/__pycache__/__init__.cpython-312.pyc
  backend/app/utils/__pycache__/__init__.cpython-313.pyc
  backend/app/utils/__pycache__/data_processor.cpython-312.pyc
  backend/app/utils/__pycache__/data_processor.cpython-313.pyc
  backend/app/utils/__pycache__/data_validator.cpython-312.pyc
  backend/app/utils/__pycache__/data_validator.cpython-313.pyc
Owners: @branToRep, @HilaryCamacho, @NorbertoSuas

Add .gitignore and clean up __pycache__ files from Backend branch
  .gitignore
  backend/app/models/__pycache__/__init__.cpython-313.pyc
  backend/app/utils/__pycache__/__init__.cpython-313.pyc
  backend/app/utils/__pycache__/data_processor.cpython-313.pyc
Owners: @branToRep, @HilaryCamacho, @NorbertoSuas

Resolve .gitignore merge conflict by adding frontend cache rule
  .gitignore
Owners: none

CODEOWNERS:

# Configuración de propietarios de código
# Este archivo define quién debe aprobar cambios en diferentes partes del código

# Backend - Solo branToRep y HilaryCamacho pueden hacer PR
/backend/ @branToRep @HilaryCamacho @NorbertoSuas
/app/ @branToRep @HilaryCamacho @NorbertoSuas
/backend/app/ @branToRep @HilaryCamacho @NorbertoSuas

# Frontend - Solo JaobSandoval y solmuz pueden hacer PR
/frontend/ @JaobSandoval @solmuz @NorbertoSuas
/frontend/src/ @JaobSandoval @solmuz @NorbertoSuas

# Configuración de GitHub Actions - Requiere aprobación de todos los usuarios autorizados
/.github/ @branToRep @HilaryCamacho @JaobSandoval @solmuz
/.github/workflows/ @branToRep @HilaryCamacho @JaobSandoval @solmuz
/.github/setup-branch-protection.js @branToRep @HilaryCamacho @JaobSandoval @solmuz

# Configuración de la base de datos - Requiere aprobación de backend team
/database/ @branToRep @HilaryCamacho

# Documentación - Cualquier usuario autorizado puede aprobar
/docs/ @branToRep @HilaryCamacho @JaobSandoval @solmuz

# Archivos de configuración del proyecto - Requiere aprobación de todos
/package.json @branToRep @HilaryCamacho @JaobSandoval @solmuz
/requirements.txt @branToRep @HilaryCamacho @JaobSandoval @solmuz
/pyproject.toml @branToRep @HilaryCamacho @JaobSandoval @solmuz

# README y documentación principal - Cualquier usuario autorizado
README.md @branToRep @HilaryCamacho @JaobSandoval @solmuz
*.md @branToRep @HilaryCamacho @JaobSandoval @solmuz
